<div class="button-nav">
    <a href="/dashboard" title="home" >
        <div class="button-icon" id="homee"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="#949089" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="home"><rect width="24" height="24" opacity="0"/><rect width="4" height="7" x="10" y="14"/><path fill="#949089" d="M20.42 10.18L12.71 2.3a1 1 0 0 0-1.42 0l-7.71 7.89A2 2 0 0 0 3 11.62V20a2 2 0 0 0 1.89 2H8v-9a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v9h3.11A2 2 0 0 0 21 20v-8.38a2.07 2.07 0 0 0-.58-1.44z"/></g></g></svg>
        </div>
    </a>
    <a href="/dashboard/mobile-new" title="add">
        <div class="button-icon" id="addd"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 67.733 67.733"><path fill="#949089" d="m 18.093994,231.51897 c -8.730218,0 -15.8414243,7.11171 -15.8414243,15.84193 v 31.54484 c 0,8.73021 7.1112063,15.84193 15.8414243,15.84193 h 31.544843 c 8.730218,0 15.841927,-7.11172 15.841927,-15.84193 V 247.3609 c 0,-8.73022 -7.111709,-15.84193 -15.841927,-15.84193 z m 0,5.29321 h 31.544843 c 5.890154,0 10.549228,4.65854 10.549228,10.54872 v 31.54484 c 0,5.89016 -4.659074,10.54871 -10.549228,10.54871 H 18.093994 c -5.890154,0 -10.5487257,-4.65855 -10.5487257,-10.54871 V 247.3609 c 0,-5.89018 4.6585717,-10.54872 10.5487257,-10.54872 z m 16.394854,8.06825 a 2.6460979,2.6460979 0 0 0 -2.607575,2.68149 v 12.75219 H 19.131135 a 2.6460979,2.6460979 0 1 0 0,5.29063 h 12.750138 v 12.75013 a 2.6466006,2.6466006 0 1 0 5.293201,0 v -12.75013 h 12.74961 a 2.6460979,2.6460979 0 1 0 0,-5.29063 h -12.74961 v -12.75219 a 2.6460979,2.6460979 0 0 0 -2.685626,-2.68149 z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible" transform="translate(0 -229.267)" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal"/></svg>
        </div>
    </a>
    <a href="/dashboard/profile" title="profile">
        <div class="button-icon" id="profilee"> 
            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="24px" height="24px" viewBox="0 0 24 24"><path fill="#949089" d="M12,2A10,10,0,0,0,4.65,18.76h0a10,10,0,0,0,14.7,0h0A10,10,0,0,0,12,2Zm0,18a8,8,0,0,1-5.55-2.25,6,6,0,0,1,11.1,0A8,8,0,0,1,12,20ZM10,10a2,2,0,1,1,2,2A2,2,0,0,1,10,10Zm8.91,6A8,8,0,0,0,15,12.62a4,4,0,1,0-6,0A8,8,0,0,0,5.09,16,7.92,7.92,0,0,1,4,12a8,8,0,0,1,16,0A7.92,7.92,0,0,1,18.91,16Z"/></svg>
        </div>
    </a>
</div>