<footer>
    <a href="/about-us" class="footer-link">About Us</a>
    <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
    <a href="/sitemap" class="footer-link">Sitemap</a>
    <a href="/terms-and-conditions" class="footer-link">Terms and conditions</a>
    <div class="credit">Copyright &copy; 2021 - <a href="https://www.climbly.in/">Climbly.in</a></div>
</footer>